.image {
    background: no-repeat center;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.body {
    padding: 0;
    margin: 2.0rem 0;
    line-height: 2.5rem;
    font-size: 1.3rem;
    font-weight: 200;
}

.body p + p:first-letter {
    padding-left: 20px;
}

.body p ~ p {
    margin-top: 20px;
}

.body:first-letter {
  color: #38ccd2;
  float: left;
  font-family: Georgia;
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 0.3rem;
  padding-right: 1.5rem;
  padding-left: 0.25rem;
}

.title {
    font-size: 1.95rem;
    font-weight: 300;
}

.subtitle {
    font-size: 1.0rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.categoryListWrapper {
    margin-bottom: 20px;
}

.authorContainer {
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 100;
}


/* 
    Media Queries:
*/

@media screen and (min-width: 768px) {
    .title {
      font-size: 2.5rem;
      font-weight: 300;
    }

    .image {
      height: 500px;
    }

    .body {
      padding: 0 80px;
      margin: calc(1.5rem + 40.0px) 0;
    }

    .body:first-letter {
      font-size: 5rem;
      margin-top: 0.85rem;
    }
}