:root {
    --navbar-border-width: 8px;
}

nav.navbar {
    background-color: transparent;
}

.navbar-brand {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand a.navbar-item {
    font-size: 2.5rem;
}

.navbar-item a {
    color: #4a4a4a;
    border-bottom: var(--navbar-border-width) solid transparent;
    transition: border-bottom-color 0.085s linear;
}

.navbar-item:last-of-type {
    padding-right: 5.25rem;
}

.navbar-end:hover a:hover {
    border-bottom: var(--navbar-border-width) solid #b5fcff;
}

.navbar-burger.burger {
    margin-right: 15px;
}
